@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	border: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	@apply min-h-full min-w-[320px] bg-vuesax-bluewood text-base text-vuesax-white;
}

button {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	background-color: inherit;
	cursor: pointer;
}

a {
	color: inherit;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	font-size: inherit;
	font-family: inherit;
}

img,
video {
	max-width: none;
	height: inherit;
}

.container {
	@apply box-content w-auto;
}

.range .spectrum-Slider-handle_e4b6ba {
	@apply bg-vuesax-violet;
}

.spinner_aj0A {
	@apply fill-vuesax-primary;
	transform-origin: center;
	animation: spinner_KYSC 0.75s infinite linear;
}

@keyframes spinner_KYSC {
	100% {
		transform: rotate(360deg);
	}
}
